html,
body {
  font-family: "Open Sans", sans-serif !important;
}
main {
  margin-top: 10rem !important;
}

.category {
  margin-left: 1.2rem;
}

.input-container {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 5px;
  cursor: pointer !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer !important;
  height: 0;
  width: 0;
  /* margin-right: 10rem; */
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  transform: scale(0.75);
}

.input-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.input-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-container input:checked ~ .checkmark:after {
  display: block;
}

.input-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.thead {
  background: #0e6573;
}
.table thead th {
  border-bottom: solid 1px #148ea1 !important;
}
.table th {
  border-top: none !important;
}

.table td {
  border-top: solid 1px #148ea1 !important;
}

@media (max-width: 480px) {
  main {
    margin-top: 0 !important;
  }
  #box {
    background: #343a40 !important;
  }
  .thead {
    background: #f8f9fa;
    color: #333;
  }
  .table thead th {
    border-bottom: solid 1px #f8f9fa !important;
  }

  .table td {
    border-top: solid 1px #f8f9fa !important;
  }
}
